li.nav = link_to "#{current_user.first_name}", user_path(current_user.id)
li.nav = link_to "New Pattern", new_user_pattern_path(current_user.id)
li.nav = link_to "Logout", logout_path, method: :delete