p
  |
    lovekn.it is a free custom pattern generator designed by <a href="http://feministy.com">Liz Abinante</a> with the goal of eliminating  the need for scribbling complex calculations on scratch paper, only to lose them later.

p #{link_to "Signup", new_user_path, {class: "nav"}} for a free account to create custom patterns!