h2 Create free custom knitting patterns!

p
  |
    lovekn.it is a free custom pattern generator designed by <a href="http://feministy.com">Liz Abinante</a> with the goal of eliminating  the need for scribbling complex calculations on scratch paper (only to lose them later).