$sanserif: 'Merriweather', Arial, sans-serif;
$text-color-main: #333333;
$text-color-darker: #01A2A6;
$accent-color-main: #29D9C2;
$background-color: #ffffff;
$nav-spacing: 10px;
$small-font: 0.8em;


// Core styles
body, html {
  height: 100%;
  background: $background-color;
}

body {
  font-family: $sanserif;
  font-size: 1em;
  font-weight: 400;
  color: $text-color-main;
}

p {
  font-family: $sanserif;
  line-height: 1.7em;
  text-align: justify;
}

.small {
  font-size: $small-font;
}

a {
  text-decoration: none;
  color: $text-color-darker;
  font-weight: 600;
}

#container {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 700px;
  margin: 0 auto;
  z-index: 1;
}

// Invisible box for AJAX login/signup magic
#emptybox {
  padding: $nav-spacing;
}

// Nav menu formatting
nav {
  position: fixed;
  background-color: $background-color;
  width: 100%;
  top: 3px;
  left: 0px;
  padding: $nav-spacing;
  font-size: $small-font;
  border-top: 3px solid $accent-color-main;
}

.topborder {
  position: fixed;
  padding: $nav-spacing;
  width: 100%;
  top: 0px;
  left: 0px;
  border-top: 3px solid $text-color-darker;
}

.nav {
  display: inline;
  margin: 0;
  ul {
    padding: 0px;
  }
  li {
    padding-right: $nav-spacing;
    padding-left: $nav-spacing;
  }
  a {
    color: $text-color-main;
    font-weight: 400;
    padding: 5px;
  }
  a:hover {
    background-color: $accent-color-main;
    padding: 5px;
  }
}

// Headers
h1 {
  font-weight: 800;
  color: $text-color-darker;
}

h1#title {
  font-weight: 900;
  font-size: 4em;
  color: $accent-color-main;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-family: $sanserif;
}

#pattern {
  color: $text-color-darker;
  margin-bottom: -10px;
  margin-top: -10px;
  font-size: 1.5em;
}

// Formats form text boxes
input {
  border: 1px solid $text-color-main;
  font-family: $sanserif;
  font-size: $small-font;
  color: $text-color-main;
  padding: 5px;
  margin-right: 8px;
  margin-bottom: 5px;
}

// Formats JS validation errors for forms
.error {
  background: $accent-color-main;
  font-weight: 700;
  padding: 3px;
}

// Separates form elements to make it pretty
p.separator {
  border-top: 1px dotted $accent-color-main;
  padding-top: 20px;
}

// Accents for pattern views
.emphasis {
  font-style: italic;
  font-weight: 300;
  font-family: $sanserif;
}

.subtitle {
  font-weight: 600;
}

.optionalsubtitle {
  font-weight: 400;
  font-style: italic;
}

// Highlight catches attention for TBD items
.highlight {
  background: $accent-color-main;
}
